<div class="container w-xxl w-auto-xs" ng-init="app.settings.container = false;">
    <div class="text-center" ng-include="'partials/include.header.html'"></div>
    <div class="m-b-lg">
        <div class="wrapper text-center" ng-if="!isPaymentSuccess">
            <h4 style="font-weight: bold;">{{payment.type}} Bill Payment - {{payment.entity}}</h4>
            <!-- <strong>Your Account is not yet active!</strong> -->
            <!-- <p>OTP has been sent to you on your mobile number. Please enter it below.</p> -->
        </div>
        <div class="box" ng-if="processing">
            <img src="img/progress.gif" alt="Paris" class="center">
        </div>
        <form name="paymentForm" ng-if="!isPaymentSuccess">
            <div class="form-group">
                <label for="inputAddress">Invoice No</label>
                <input type="text" class="form-control" ng-model="payment.invoiceNo" placeholder="" required>
            </div>
            <div class="form-group">
                <label for="inputAddress2">Payment Amount</label>
                <input type="text" class="form-control" ng-model="payment.amount" placeholder="" required>
            </div>
            <div class="form-group">
                <label for="inputState">Accounts</label>
                <select id="inputState" class="form-control">
                    <option selected>{{user.profileID}}</option>
                </select>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary" ng-click="pay()" ng-disabled="paymentForm.$invalid">Pay Now</button>
            </div>
        </form>
        <div class="line line-dashed" ng-if="isPaymentSuccess"></div>
        <div class="line line-dashed" ng-if="isPaymentSuccess"></div>
        <div class="line line-dashed" ng-if="isPaymentSuccess"></div>
        <div class="wrapper text-center" ng-if="isPaymentSuccess">
            <img src="img/checked.png">
            <div class="line line-dashed"></div>
            <h4 style="font-weight: bold;">Payment successfull</h4>
            <p>Your payment has been processed. Please close the window to proceed.</p>
        </div>
    </div>
</div>