<div class="container w-xxl w-auto-xs" ng-init="app.settings.container = false;">
    <div class="text-center" ng-include="'partials/include.header.html'"></div>
    <div class="line line-dashed"></div>
    <div class="line line-dashed"></div>
    <div class="line line-dashed"></div>
    <div class="m-b-lg">
        <div class="wrapper text-center">
            <img src="img/checked.png">
            <div class="line line-dashed"></div>
            <h4 style="font-weight: bold;">Registration successfull</h4>
            <!-- <strong>Your Account is not yet active!</strong> -->
            <p>Your account has been successfully integrated. Please close the window to proceed.</p>
            <!-- <button type="button" class="btn btn-sm btn-outline-primary" ng-click="start()">Start</button> -->
        </div>
          
        <!-- <form name="verify" ng-init="isCollapsed=true">
            <div class="list-group list-group-sm">
                <div class="list-group-item">
                    <input type="text" placeholder="Mobile Number" ng-model="user.mobile" class="form-control no-border" ng-readonly="true">
                </div>
                <div class="list-group-item">
                    <input type="text" ng-maxlength="10" ng-minlength="10" placeholder="Verification Code" ng-model="verification" class="form-control no-border" required>
                </div>
            </div>
            <button type="submit" ng-disabled="verify.$invalid" class="btn btn-lg btn-primary btn-block" ng-click="checkVerification(verifyingMobile,verification)">Verify Mobile</button>
        </form>
        <div collapse="isCollapsed" class="m-t">
            <div class="alert alert-info text-center">
                <p>Didn't receive the code?
                    <a ui-sref="signin"
                        class="btn btn-xs btn-info">Resend Code</a>
                </p>
            </div>
        </div> -->
    </div>
</div>